{% extends 'base.html' %}
{% block title %}Listar | Equipamentos{% endblock %}
{% block header %}Listar Equipamentos{% endblock %}
{% block content %}


  <main class="container">
    <section class="row mb-4">
      <div class="col-md-12">
        <a href="/equipamentos/registar">
          <button type="button" class="btn btn-primary">Adicionar</button>
        </a>
      </div>
    </section>
    <section class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>Data Criação</th>
            <th>Stock</th>
            <th>Tipo</th>
          </tr>
        </thead>
        <tbody>
          {% for equipamento in equipamentos %}
          <tr>
            <td>{{ equipamento.id }}</td>
            <td>{{ equipamento.data_criacao }}</td>
            <td>{{ equipamento.quantidade }}</td>
            <td>{{ equipamento.tipo_equipamento.0.tipo }}</td>
            <td>
              <a href="{% url 'equipamentos_listar_id' id=equipamento.id %}">
                <button type="submit" class="btn btn-secondary">
                  <i class="fas fa-plus"></i>
                </button>
              </a>
            </td>
            <td>
              <a href="{% url 'equipamentos_atualizar' id=equipamento.id %}">
                <button type="submit" class="btn btn-secondary">
                  <i class="fas fa-pen"></i>
                </button>
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>
  </main>
{% endblock %}