{% extends 'base.html' %}
{% block title %}Listar | Clientes{% endblock %}
{% block header %}Listar Clientes{% endblock %}
{% block content %}


  <main class="container">
    <section class="row mb-4">
      <div class="col-md-12">
        <a href="/clientes/registar">
          <button type="button" class="btn btn-primary">Adicionar</button>
        </a>
      </div>
    </section>
    <section class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>Data Criação</th>
            <th>Email</th>
            <th>Nome</th>
          </tr>
        </thead>
        <tbody>
          {% for cliente in clientes %}
          <tr>
            <td>{{ cliente.id }}</td>
            <td>{{ cliente.data_criacao }}</td>
            <td>{{ cliente.email }}</td>
            <td>{{ cliente.nome }}</td>
            <td>
              <a href="{% url 'clientes_atualizar' id=cliente.id %}">
                <button type="submit" class="btn btn-secondary">
                  <i class="fas fa-pen"></i>
                </button>
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>
  </main>
{% endblock %}