{% extends 'base.html' %}
{% block title %}Listar | Utilizadores{% endblock %}
{% block header %}Listar Utilizadores{% endblock %}
{% block content %}


  <main class="container">
    <section class="row mb-4">
      <div class="col-md-12">
        <a href="/utilizadores/registar">
          <button type="button" class="btn btn-primary">Adicionar</button>
        </a>
      </div>
    </section>
    <section class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>Data Criação</th>
            <th>Email</th>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>Perfil</th>
          </tr>
        </thead>
        <tbody>
          {% for utilizador in utilizadores %}
          <tr>          
            <td>{{ utilizador.id }}</td>
            <td>{{ utilizador.data_criacao }}</td>
            <td>{{ utilizador.email }}</td>
            <td>{{ utilizador.nome }}</td>
            <td>{{ utilizador.sobrenome }}</td>
            <td>{{ utilizador.utilizador_perfil.0.perfil }}</td>
            <td>
              <a href="{% url 'utilizadores_atualizar' id=utilizador.id %}">
                <button type="submit" class="btn btn-secondary">
                  <i class="fas fa-pen"></i>
                </button>
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>
  </main>
{% endblock %}