{% extends 'base.html' %}
{% block title %}Fatura | Compras{% endblock %}
{% block header %}Fatura Compras{% endblock %}
{% block content %}




<main class="container">
  <section class="row mb-4">
    <div class="col-md-12">
      <a href="/compra/registar">
        <button type="button" class="btn btn-primary">Adicionar</button>
      </a>
    </div>
  </section>
  <section class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Data Criação</th>
          <th>Descrição </th>
          <th>Detalhes</th>
        </tr>
      </thead>
      <tbody>
        {% for ficha in ficha_producao %}
        <tr>
          <td>{{ fatura_fornecedor.id }}</td>
          <td>{{ fatura_fornecedor.data_criacao }}</td>
          <td>{{ fatura_fornecedor.descricao }}</td>
          <td>
            <a href="{% url 'compras_listar_id' id=encomenda_fornecedor.id %}">
              <button type="submit" class="btn btn-secondary">
                <i class="fas fa-plus"></i>
              </button>
            </a>
          </td>
          <!--{% for detalhe in ficha.detalhe_ficha_producao %}
            <td>{{ detalhe.componente.0 }}</td>
          {% endfor %}-->
          <td>
            <a href="{% url 'compras_atualizar' id=encomenda_fornecedor.id %}">
              <button type="submit" class="btn btn-secondary">
                <i class="fas fa-pen"></i>
              </button>
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
</main>
{% endblock %}