{% extends 'base.html' %}
{% block title %}Detalhes | Guia de Remessa do Fornecedor{% endblock %}
{% block header %}Detalhes Guia de Remessa do Fornecedor{% endblock %}
{% block content %}

<main class="container">
    <section>
        <div class="d-flex">
            <p>ID da Guia de Remessa: </p>
            <p>{{ guia_remessa_fornecedor.id }}</p>
        </div>
        <div class="d-flex">
            <p>Data de Criação: </p>
            <p>{{ guia_remessa_fornecedor.data_criacao }}</p>
        </div>
        <div class="d-flex">
            <p>Data de Envio: </p>
            <p>{{ guia_remessa_fornecedor.data_envio }}</p>
        </div>
        <div class="d-flex">
            <p>Data de Entrega: </p>
            <p>{{ guia_remessa_fornecedor.data_entrega }}</p>
        </div>
        <div class="d-flex">
            <p>Endereço de Origem: </p>
            <p>{{ guia_remessa_fornecedor.endereco_origem }}</p>
        </div>
        <div class="d-flex">
            <p>Endereço de Chegada: </p>
            <p>{{ guia_remessa_fornecedor.endereco_chegada }}</p>
        </div>
        <div class="d-flex">
            <p>Utilizador: </p>
            <p>{{ guia_remessa_fornecedor.utilizador.nome }}</p>
        </div>
        <div class="d-flex">
            <p>Fatura Associada: </p>
            <p>{{ guia_remessa_fornecedor.fatura_cliente.numero_fatura }}</p>
        </div>

        <div class="mt-4">
            <h3>Detalhes da Remessa</h3>
            {% for detalhe in guia_remessa_fornecedor.detalhe_remessa_fornecedor %}
                <div class="mt-3">
                    <div class="d-flex">
                        <p>ID do Detalhe: </p>
                        <p>{{ detalhe.id }}</p>
                    </div>
                    <div class="d-flex">
                        <p>Data de Criação: </p>
                        <p>{{ detalhe.data_criacao }}</p>
                    </div>
                    <div class="d-flex">
                        <p>Quantidade: </p>
                        <p>{{ detalhe.quantidade }}</p>
                    </div>
                    <div class="d-flex">
                        <p>Detalhe da Encomenda: </p>
                        <p>{{ detalhe.detalhe_encomenda_fornecedor.id }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
</main>

{% endblock %}
