{% extends 'base.html' %}
{% block title %}Listar | Remessas do Cliente{% endblock %}
{% block header %}Listar Remessas do Cliente{% endblock %}
{% block content %}


  <main class="container">
    <section>
        <div class="d-flex">
            <p>ID: </p>
            <p>{{ remessa.id }}</p>
        </div>
        <div class="d-flex">
            <p>Data Criação: </p>
            <p>{{ remessa.data_criacao }}</p>
        </div>
        <div class="d-flex">
            <p>Data Envio: </p>
            <p>{{ remessa.data_envio }}</p>
        </div>
		<div class="d-flex">
            <p>Data Entrega: </p>
            <p>{{ remessa.data_entrega }}</p>
        </div>
        <div class="d-flex">
            <p>Endereço Origem: </p>
            <p>{{ remessa.endereco_origem }}</p>
        </div>
        <div class="d-flex">
            <p>Endereço Chegada: </p>
            <p>{{ remessa.endereco_chegada }}</p>
        </div>
        <div class="mt-4">
            <h3>Equipamentos</h3>
            {% for detalhe in remessa.detalhe_remessa_cliente %}
                <div class="mt-3">
                    <div class="d-flex">
                        <p>ID: </p>
                        <p>{{ detalhe.detalhe_encomenda_cliente.0.equipamento.0.id }}</p>
                    </div>
                    <div class="d-flex">
                        <p>Tipo: </p>
                        <p>{{ detalhe.detalhe_encomenda_cliente.0.equipamento.0.tipo_equipamento.0.tipo }}</p>
                    </div>
                    <div class="d-flex">
                        <p>Quantidade Encomendados: </p>
                        <p>{{ detalhe.detalhe_encomenda_cliente.0.quantidade }}</p>
                    </div>
					<div class="d-flex">
                        <p>Custo Unidade: </p>
                        <p>{{ detalhe.detalhe_encomenda_cliente.0.custo_unidade }}</p>
                    </div>
                </div>
            {% endfor %}
        <div>
        <div class="mt-4">
            <h3>Fatura</h3>
            <div class="mt-3">
                <div class="d-flex">
                    <p>ID: </p>
                    <p>{{ remessa.fatura_cliente.0.id }}</p>
                </div>
                <div class="d-flex">
                    <p>Data Criação: </p>
                    <p>{{ remessa.fatura_cliente.0.data_criacao }}</p>
                </div>
				<div class="d-flex">
                    <p>Descrição: </p>
                    <p>{{ remessa.fatura_cliente.0.descricao }}</p>
                </div>
				<div class="d-flex">
                    <p>Custo Total: </p>
                    <p>{{ custo_total }}</p>
                </div>
			</div>
        <div>
    </section>
</main>
{% endblock %}