{% extends 'base.html' %}
{% block title %}Detalhes | Encomenda de Fornecedor{% endblock %}
{% block header %}Detalhes Encomenda de Fornecedor{% endblock %}
{% block content %}

<main class="container">
    <section>
        <div class="d-flex">
            <p>ID da Encomenda: </p>
            <p>{{ encomenda_fornecedor.id }}</p>
        </div>
        <div class="d-flex">
            <p>Data de Criação: </p>
            <p>{{ encomenda_fornecedor.data_criacao }}</p>
        </div>
        <div class="d-flex">
            <p>Estado: </p>
            <p>{{ encomenda_fornecedor.estado_encomenda.estado }}</p>
        </div>
        <div class="d-flex">
            <p>Fornecedor: </p>
            <p>{{ encomenda_fornecedor.fornecedor.nome }}</p>
        </div>

        <div class="mt-4">
            <h3>Detalhes da Encomenda</h3>
            {% for detalhe in encomenda_fornecedor.detalhe_encomenda_fornecedor %}
                <div class="mt-3">
                    <div class="d-flex">
                        <p>ID do Detalhe: </p>
                        <p>{{ detalhe.id }}</p>
                    </div>
                    <div class="d-flex">
                        <p>Data de Criação: </p>
                        <p>{{ detalhe.data_criacao }}</p>
                    </div>
                    <div class="d-flex">
                        <p>Quantidade: </p>
                        <p>{{ detalhe.quantidade }}</p>
                    </div>
                    <div class="d-flex">
                        <p>Custo por Unidade: </p>
                        <p>{{ detalhe.custo_entidade }}</p>
                    </div>
                    <div class="d-flex">
                        <p>Componente: </p>
                        <p>{{ detalhe.componente.descricao }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
</main>

{% endblock %}
