<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">REIS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!--li class="nav-item active">
                <a class="nav-link" href="\">Página Inicial <span class="sr-only">(current)</span></a>
            </li-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownComponentes" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Componentes
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownComponentes">
                    <a class="dropdown-item" href="/componentes/listar">Listar</a>
                    <a class="dropdown-item" href="/componentes/registar">Registar</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownEquipamentos" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Equipamentos
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownEquipamentos">
                    <a class="dropdown-item" href="/equipamentos/listar">Listar</a>
                    <a class="dropdown-item" href="/equipamentos/registar">Registar</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownFichaProducao" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Ficha Produção
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownFichaProducao">
                    <a class="dropdown-item" href="/fichaproducao/listar">Listar</a>
                    <a class="dropdown-item" href="/fichaproducao/registar">Registar</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCompras" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Compras
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownCompras">
                    <a class="dropdown-item" href="/compras/listar">Listar</a>
                    <a class="dropdown-item" href="/compras/registar">Registar</a>
                </div>
            </li>
            
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownVendas" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Vendas
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownVendas">
                    <a class="dropdown-item" href="/vendas/listar">Listar</a>
                    <a class="dropdown-item" href="/vendas/registar">Registar</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownFornecedores" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Fornecedores
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownFornecedores">
                    <a class="dropdown-item" href="/fornecedores/listar">Listar</a>
                    <a class="dropdown-item" href="/fornecedores/registar">Registar</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownClientes" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Clientes
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownClientes">
                    <a class="dropdown-item" href="/clientes/listar">Listar</a>
                    <a class="dropdown-item" href="/clientes/registar">Registar</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUtilizadores" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Utilizadores
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownUtilizadores">
                    <a class="dropdown-item" href="/utilizadores/listar">Listar</a>
                    <a class="dropdown-item" href="/utilizadores/registar">Registar</a>
                </div>
            </li>
        </ul>
        <!-- navbar.html -->
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                if (typeof(Storage) !== "undefined") {
                    var storedCredentials = localStorage.getItem("userCredentials");
            
                    if (storedCredentials) {
                        var userCredentials = JSON.parse(storedCredentials);
                        
                        console.log("Stored Credentials:", storedCredentials);
                        console.log("User Credentials:", userCredentials);

                        var email = userCredentials.email;

                        var utilizadorBloco = document.getElementById('utilizador_info');
                        if (utilizadorBloco) {
                            utilizadorBloco.innerHTML = userCredentials ? userCredentials.nome + " " + userCredentials.sobrenome + " (" + userCredentials.perfil + ")" : 'Iniciar Sessão';
                        }

                        var linkElement = document.getElementById('utilizador_link');
                        if (linkElement) {
                            linkElement.href = "/utilizadores/listar/id/" + userCredentials.id;
                        }
                    }
                }
            });
        </script>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link d-flex" id="utilizador_link" href="/utilizadores/iniciar-sessao">
                    <div style="margin-right: 10px;">
                            <span id="utilizador_info"></span>
                    </div>
                    <div> <i class="fas fa-user"></i> </div>
                </a>
            </li>
        </ul>

    </div>
</nav>